---
# Create User Account

- name: set a password for the new user and ensure ssh keys exist
  user: name={{ item.key }} shell=/bin/bash groups="{{ item.value.groups }}" password="{{ item.value.password }}" generate_ssh_key=yes state=present ssh_key_bits=4028 update_password=always state=present
  with_dict: "{{ users }}"
  become: yes

- name: Sudoers | update sudoers file and validate
  lineinfile: "dest=/etc/sudoers
    insertafter=EOF
    line='{{ item.key }} ALL=(ALL) NOPASSWD: ALL'
    regexp='{{ item.key }} ALL=(ALL) NOPASSWD: ALL'
    state=present"
  with_dict: "{{ users }}"
  become: yes

# Only Meant for new virtual machine to upgrade packages and reboot
# Pass options to dpkg on run
- name: Update packages through apt
  apt: upgrade=dist update_cache=yes
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and update_packages == 1
  
- name: Update packages through yum
  yum: name=* state=latest
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux') and update_packages == 1

- name: Reboot server
  command: /sbin/reboot
  become: yes
  when: reboot

- name: Wait for the server to finish rebooting
  local_action: wait_for host="{{ inventory_hostname }}" search_regex=OpenSSH port=22 timeout=300
  when: reboot
